version: "3.7"

services:
    web:
        image: "lightninglabs/lightning-terminal:v0.4.1-alpha@sha256:624376ebaf286cf7118ca271ed43fb852be4aad814c1f4f6a56634f673671a4a"
        user: "1000:1000"
        restart: "on-failure"
        stop_grace_period: "1m"
        command:
            - "--insecure-httplisten=\"0.0.0.0:${APP_LIGHTNING_TERMINAL_PORT}\""
            - "--network=\"${BITCOIN_NETWORK}\""
            - "--lnd-mode=\"remote\""
            - "--remote.lnd.rpcserver=\"${LND_IP}:${LND_GRPC_PORT}\""
            - "--remote.lnd.macaroonpath=\"/lnd/data/chain/bitcoin/${BITCOIN_NETWORK}/admin.macaroon\""
            - "--remote.lnd.tlscertpath=\"/lnd/tls.cert\""
        volumes:
            - "${APP_DATA_DIR}/data:/data"
            - "${LND_DATA_DIR}:/lnd:ro"
        ports:
            - "${APP_LIGHTNING_TERMINAL_PORT}:${APP_LIGHTNING_TERMINAL_PORT}"
        environment:
            HOME: "/data"
        networks:
            default:
                ipv4_address: "${APP_LIGHTNING_TERMINAL_IP}"
