version: '3.7'

services:
        tor_proxy:
                container_name: tor
                image: lncm/tor:0.4.6.9@sha256:ae1a136822d82571309074adc227fe8a1317873ba6e9cdb93bf2f9ad3a8d07d3
                user: toruser
                restart: on-failure
                volumes:
                    - ${PWD}/tor/torrc-proxy:/etc/tor/torrc:ro
                    - ${PWD}/tor/data:/data
                ports:
                  - "127.0.0.1:$TOR_PROXY_PORT:$TOR_PROXY_PORT"
                networks:
                    default:
                        ipv4_address: $TOR_PROXY_IP
        nginx:
                container_name: nginx
                image: nginx:1.17.8@sha256:380eb808e2a3b0dd954f92c1cae2f845e6558a15037efefcabc5b4e03d666d03
                depends_on: [ dashboard, manager ]
                volumes:
                        - ${PWD}/nginx:/etc/nginx
                restart: on-failure
                stop_grace_period: 30s
                ports:
                    - "${NGINX_PORT}:80"
                networks:
                    default:
                        ipv4_address: $NGINX_IP
        bitcoin:
                container_name: bitcoin
                image: lncm/bitcoind:v22.0@sha256:37a1adb29b3abc9f972f0d981f45e41e5fca2e22816a023faa9fdc0084aa4507
                depends_on: [ tor_proxy, manager, nginx ]
                volumes:
                        - ${PWD}/bitcoin:/data/.bitcoin
                restart: on-failure
                stop_grace_period: 15m30s
                ports:
                    - "$BITCOIN_P2P_PORT:$BITCOIN_P2P_PORT"
                networks:
                    default:
                        ipv4_address: $BITCOIN_IP
        lnd:
                container_name: lnd
                image: lightninglabs/lnd:v0.14.2-beta@sha256:8318a24a3ad7319e424253eb56efcbf38e820ebc6d6b6edeec6a8a4e3e9314a0
                user: 1000:1000
                depends_on: [ tor_proxy, manager ]
                volumes:
                        - ${PWD}/lnd:/data/.lnd
                environment:
                  HOME: /data
                restart: on-failure
                stop_grace_period: 5m30s
                ports:
                    - "9735:9735"
                    - "$LND_REST_PORT:$LND_REST_PORT"
                    - "$LND_GRPC_PORT:$LND_GRPC_PORT"
                networks:
                    default:
                        ipv4_address: $LND_IP
        dashboard:
                container_name: dashboard
                image: getumbrel/dashboard:v0.3.32@sha256:545d0253653bb6e48b39b09caf34a1ef55484a6dd8644e5f5e8f164977a7af18
                restart: on-failure
                stop_grace_period: 1m30s
                networks:
                    default:
                        ipv4_address: $DASHBOARD_IP
        manager:
                container_name: manager
                image: getumbrel/manager:v0.2.19@sha256:d94327034d99ec8121d42b61bbec89f2e1797148c56ef60b7cec17486e6a399d
                depends_on: [ tor_proxy ]
                restart: on-failure
                stop_grace_period: 5m30s
                volumes:
                        - ${PWD}:${PWD}
                        - ${PWD}/info.json:/info.json
                        - ${PWD}/db:/db
                        - ${PWD}/events/signals:/signals
                        - ${PWD}/app-data:/app-data
                        - ${PWD}/repos:/repos
                        - ${PWD}/lnd:/lnd:ro
                        - ${PWD}/statuses:/statuses
                        - ${PWD}/tor/data:/var/lib/tor/
                        - /var/run/docker.sock:/var/run/docker.sock
                        - ${DOCKER_BINARY:-/usr/bin/docker}:/usr/bin/docker
                        - jwt-public-key:/jwt-public-key
                        - jwt-private-key:/jwt-private-key
                environment:
                    PORT: "3006"
                    USER_PASSWORD_FILE: "/db/user.json"
                    JWT_PUBLIC_KEY_FILE: "/jwt-public-key/jwt.pem"
                    JWT_PRIVATE_KEY_FILE: "/jwt-private-key/jwt.key"
                    JWT_EXPIRATION: "3600"
                    DOCKER_COMPOSE_DIRECTORY: $PWD
                    DEVICE_HOSTS: ${DEVICE_HOSTS:-"http://umbrel.local"}
                    DEVICE_HOSTNAME: ${DEVICE_HOSTNAME:-""}
                    MIDDLEWARE_API_URL: "http://$MIDDLEWARE_IP"
                    UMBREL_SEED_FILE: "/db/umbrel-seed/seed"
                    UMBREL_DASHBOARD_HIDDEN_SERVICE_FILE: "/var/lib/tor/web/hostname"
                    UMBREL_AUTH_SECRET: $UMBREL_AUTH_SECRET
                    BITCOIN_P2P_HIDDEN_SERVICE_FILE: "/var/lib/tor/bitcoin-p2p/hostname"
                    BITCOIN_P2P_PORT: $BITCOIN_P2P_PORT
                    BITCOIN_RPC_HIDDEN_SERVICE_FILE: "/var/lib/tor/bitcoin-rpc/hostname"
                    BITCOIN_RPC_PORT: $BITCOIN_RPC_PORT
                    BITCOIN_RPC_USER: $BITCOIN_RPC_USER
                    BITCOIN_RPC_PASSWORD: $BITCOIN_RPC_PASS
                    LND_REST_HIDDEN_SERVICE_FILE: "/var/lib/tor/lnd-rest/hostname"
                    LND_GRPC_HIDDEN_SERVICE_FILE: "/var/lib/tor/lnd-grpc/hostname"
                    LND_CERT_FILE: "/lnd/tls.cert"
                    LND_ADMIN_MACAROON_FILE: "/lnd/data/chain/bitcoin/${BITCOIN_NETWORK}/admin.macaroon"
                    SHUTDOWN_SIGNAL_FILE: "/signals/shutdown"
                    REBOOT_SIGNAL_FILE: "/signals/reboot"
                    GITHUB_REPO: "getumbrel/umbrel"
                    UMBREL_VERSION_FILE: "/info.json"
                    UPDATE_STATUS_FILE: "/statuses/update-status.json"
                    UPDATE_SIGNAL_FILE: "/signals/update"
                    UPDATE_LOCK_FILE: "/statuses/update-in-progress"
                    BACKUP_STATUS_FILE: "/statuses/backup-status.json"
                    DEBUG_STATUS_FILE: "/statuses/debug-status.json"
                    TOR_PROXY_IP: "${TOR_PROXY_IP}"
                    TOR_PROXY_PORT: "${TOR_PROXY_PORT}"
                    TOR_HIDDEN_SERVICE_DIR: "/var/lib/tor"
                    IS_UMBREL_OS: ${IS_UMBREL_OS:-"false"}
                networks:
                    default:
                        ipv4_address: $MANAGER_IP
        middleware:
                container_name: middleware
                image: getumbrel/middleware:v0.1.15@sha256:b8a64ba65c314be6288decef6c87086f04a371b1a82c07599b98b67a7422f9fa
                depends_on: [ manager, bitcoin, lnd ]
                command: ["./wait-for-node-manager.sh", $MANAGER_IP, "npm", "start"]
                restart: on-failure
                volumes:
                        - ${PWD}/lnd:/lnd
                        - jwt-public-key:/jwt-public-key
                environment:
                    PORT: "3005"
                    BITCOIN_HOST: $BITCOIN_IP
                    RPC_PORT: $BITCOIN_RPC_PORT
                    RPC_USER: $BITCOIN_RPC_USER
                    RPC_PASSWORD: $BITCOIN_RPC_PASS
                    LND_NETWORK: $BITCOIN_NETWORK
                    LND_HOST: "${LND_IP}"
                    JWT_PUBLIC_KEY_FILE: "/jwt-public-key/jwt.pem"
                    DEVICE_HOSTS: ${DEVICE_HOSTS:-"http://umbrel.local"}
                networks:
                    default:
                        ipv4_address: $MIDDLEWARE_IP
        auth:
                container_name: auth
                image: getumbrel/app-auth
                user: "1000:1000"
                build: ./deps/app-auth
                restart: on-failure
                environment:
                    PORT: 2000
                    UMBREL_AUTH_SECRET: $UMBREL_AUTH_SECRET
                    MANAGER_IP: $MANAGER_IP
                    MANAGER_PORT: 3006
                volumes:
                        - ${PWD}/tor/data:/var/lib/tor:ro
                        - ${PWD}/app-data:/app-data:ro
                ports:
                    - "${AUTH_PORT}:2000"
                networks:
                    default:
                        ipv4_address: $AUTH_IP
        neutrino-switcher:
                container_name: neutrino-switcher
                image: getumbrel/neutrino-switcher:v1.3.0@sha256:399ccea7f39129ff16c9c408f9e68a01dd4671f428273f3c3f401a8a0d2f7ddc
                depends_on: [ bitcoin, lnd ]
                restart: on-failure
                volumes:
                    - ${PWD}/lnd:/lnd
                    - ${PWD}/statuses:/statuses
                    - /var/run/docker.sock:/var/run/docker.sock
                environment:
                    JSONRPCURL: "http://${BITCOIN_IP}:${BITCOIN_RPC_PORT}"
                    RPCUSER: $BITCOIN_RPC_USER
                    RPCPASS: $BITCOIN_RPC_PASS
                    LND_CONTAINER_NAME: lnd
                    SLEEPTIME: 3600
                networks:
                    default:
                        ipv4_address: $NEUTRINO_SWITCHER_IP
        electrs:
              container_name: electrs
              image: getumbrel/electrs:v0.9.4@sha256:b1590ac6cfb0e5b481c6a7af7f0626d76cbb91c63702b0f5c47e2829e9c37997
              volumes:
                - ${PWD}/bitcoin:/data/.bitcoin:ro
                - ${PWD}/electrs:/data
              restart: on-failure
              stop_grace_period: 5m
              ports:
                  - "$ELECTRUM_PORT:$ELECTRUM_PORT"
              networks:
                  default:
                      ipv4_address: $ELECTRUM_IP
networks:
    default:
      name: umbrel_main_network
      ipam:
          driver: default
          config:
              - subnet: "$NETWORK_IP/16"

volumes:
    jwt-public-key:
    jwt-private-key:
