version: '3.7'
x-logging: &default-logging
    driver: journald
    options:
        tag: "{{.Name}}"

services:
        tor:
                container_name: tor
                image: getumbrel/tor:v0.4.1.9
                user: toruser
                restart: unless-stopped
                logging: *default-logging
                volumes:
                    - ${PWD}/tor/torrc:/etc/tor/torrc
                    - ${PWD}/tor/data:/var/lib/tor/
                    - ${PWD}/tor/run:/var/run/tor/
                ports:
                  - "127.0.0.1:9150:29050"
                networks:
                    net:
                        ipv4_address: 10.11.5.1
        nginx:
                container_name: nginx
                image: nginx:1.17.8
                logging: *default-logging
                depends_on: [ dashboard, manager ]
                volumes:
                        - ${PWD}/nginx:/etc/nginx
                restart: unless-stopped
                stop_grace_period: 30s
                ports:
                    - "80:80"
                networks:
                    net:
                        ipv4_address: 10.11.0.2
        bitcoin:
                container_name: bitcoin
                image: lncm/bitcoind:v0.20.1
                logging: *default-logging
                depends_on: [ tor, manager ]
                command: "-zmqpubrawblock=tcp://0.0.0.0:28332 -zmqpubrawtx=tcp://0.0.0.0:28333"
                volumes:
                        - ${PWD}/bitcoin:/data/.bitcoin
                restart: unless-stopped
                stop_grace_period: 15m30s
                ports:
                    - "8333:8333"
                networks:
                    net:
                        ipv4_address: 10.11.1.1
        lnd:
                container_name: lnd
                image: lncm/lnd:v0.11.0
                logging: *default-logging
                depends_on: [ tor, manager ]
                volumes:
                        - ${PWD}/lnd:/data/.lnd
                restart: unless-stopped
                stop_grace_period: 5m30s
                ports:
                    - "9735:9735"
                networks:
                    net:
                        ipv4_address: 10.11.1.2
        dashboard:
                container_name: dashboard
                image: getumbrel/dashboard:v0.3.7
                logging: *default-logging
                restart: unless-stopped
                stop_grace_period: 1m30s
                networks:
                    net:
                        ipv4_address: 10.11.0.3
        manager:
                container_name: manager
                image: getumbrel/manager:v0.2.4
                logging: *default-logging
                depends_on: [ tor ]
                restart: unless-stopped
                stop_grace_period: 5m30s
                volumes:
                        - ${PWD}:${PWD}
                        - ${PWD}/info.json:/info.json
                        - ${PWD}/db:/db
                        - ${PWD}/events/signals:/signals
                        - ${PWD}/statuses:/statuses
                        - ${PWD}/tor/data:/var/lib/tor/
                        - /var/run/docker.sock:/var/run/docker.sock
                        - /usr/bin/docker:/usr/bin/docker
                        - jwt-public-key:/jwt-public-key
                        - jwt-private-key:/jwt-private-key
                environment:
                    PORT: "3006"
                    USER_PASSWORD_FILE: "/db/user.json"
                    JWT_PUBLIC_KEY_FILE: "/jwt-public-key/jwt.pem"
                    JWT_PRIVATE_KEY_FILE: "/jwt-private-key/jwt.key"
                    JWT_EXPIRATION: "3600"
                    DOCKER_COMPOSE_DIRECTORY: $PWD
                    DEVICE_HOSTS: ${DEVICE_HOSTS:-"http://umbrel.local"}
                    MIDDLEWARE_API_URL: "http://10.11.2.2"
                    UMBREL_SEED_FILE: "/db/umbrel-seed/seed"
                    UMBREL_DASHBOARD_HIDDEN_SERVICE_FILE: "/var/lib/tor/web/hostname"
                    BITCOIN_P2P_HIDDEN_SERVICE_FILE: "/var/lib/tor/bitcoin-p2p/hostname"
                    BITCOIN_P2P_PORT: $BITCOIN_P2P_PORT
                    SHUTDOWN_SIGNAL_FILE: "/signals/shutdown"
                    REBOOT_SIGNAL_FILE: "/signals/reboot"
                    GITHUB_REPO: "getumbrel/umbrel"
                    UMBREL_VERSION_FILE: "/info.json"
                    UPDATE_STATUS_FILE: "/statuses/update-status.json"
                    UPDATE_SIGNAL_FILE: "/signals/update"
                    UPDATE_LOCK_FILE: "/statuses/update-in-progress"
                    BACKUP_STATUS_FILE: "/statuses/backup-status.json"
                networks:
                    net:
                        ipv4_address: 10.11.2.1
        middleware:
                container_name: middleware
                image: getumbrel/middleware:v0.1.5
                logging: *default-logging
                depends_on: [ manager, bitcoin, lnd ]
                command: ["./wait-for-node-manager.sh", "10.11.2.1", "npm", "start"]
                restart: unless-stopped
                depends_on: [ manager ]
                volumes:
                        - ${PWD}/lnd:/lnd
                        - jwt-public-key:/jwt-public-key
                environment:
                    PORT: "3005"
                    BITCOIN_HOST: "10.11.1.1"
                    RPC_PORT: $BITCOIN_RPC_PORT
                    RPC_USER: $BITCOIN_RPC_USER
                    RPC_PASSWORD: $BITCOIN_RPC_PASS
                    LND_NETWORK: $BITCOIN_NETWORK
                    LND_HOST: "10.11.1.2"
                    JWT_PUBLIC_KEY_FILE: "/jwt-public-key/jwt.pem"
                    DEVICE_HOSTS: ${DEVICE_HOSTS:-"http://umbrel.local"}
                networks:
                    net:
                        ipv4_address: 10.11.2.2
        neutrino-switcher:
                container_name: neutrino-switcher
                image: getumbrel/neutrino-switcher:v1.0.3
                logging: *default-logging
                depends_on: [ bitcoin, lnd ]
                restart: unless-stopped
                volumes:
                    - ${PWD}/lnd:/lnd
                    - ${PWD}/statuses:/statuses
                    - /var/run/docker.sock:/var/run/docker.sock
                environment:
                    JSONRPCURL: "http://10.11.1.1:${BITCOIN_RPC_PORT}"
                    RPCUSER: $BITCOIN_RPC_USER
                    RPCPASS: $BITCOIN_RPC_PASS
                    LND_CONTAINER_NAME: lnd
                    SLEEPTIME: 3600
                networks:
                    net:
                        ipv4_address: 10.11.5.2
        frontail:
            container_name: frontail
            image: getumbrel/frontail:v4.9.1
            logging: *default-logging
            restart: unless-stopped
            command: "/var/log/syslog --url-path /logs --number 100 --disable-usage-stats"
            volumes:
                - /var/log/syslog:/var/log/syslog:ro
            networks:
                net:
                    ipv4_address: 10.11.3.0
        electrs:
              container_name: electrs
              image: lukechilds/electrs:v0.8.5
              logging: *default-logging
              depends_on: [ bitcoin ]
              command: >-
                -vvvv
                --timestamp
                --db-dir /data/db
                --daemon-rpc-addr 10.11.1.1:8332
                --electrum-rpc-addr 0.0.0.0:50001
              volumes:
                - ${PWD}/bitcoin:/data/.bitcoin:ro
                - ${PWD}/electrs:/data
              restart: unless-stopped
              stop_grace_period: 1m
              ports:
                  - "50001:50001"
              networks:
                  net:
                      ipv4_address: 10.11.4.0
networks:
    net:
        ipam:
            driver: default
            config:
                - subnet: 10.11.0.0/16

volumes:
    jwt-public-key:
    jwt-private-key:
