version: '3.7'
x-logging: &default-logging
    driver: journald
    options:
        tag: "{{.Name}}"

x-utility: &default-utility
    image: "alpine:3.11"
    logging: *default-logging
    network_mode: host

services:
        nginx:
                image: nginx:1.17.8
                logging: *default-logging
                volumes:
                        - ${HOME}/nginx:/etc/nginx
                restart: on-failure
                network_mode: host
                stop_grace_period: 30s
        bitcoin:
                image: lncm/bitcoind:v0.20.0
                logging: *default-logging
                volumes:
                        - ${PWD}/bitcoin:/root/.bitcoin
                        - ${PWD}/bitcoin:/data/.bitcoin
                        - ${PWD}/bitcoin:/data/bitcoin
                restart: on-failure
                network_mode: host
                stop_grace_period: 15m30s
        lnd:
                image: lncm/lnd:v0.10.0-experimental
                logging: *default-logging
                volumes:
                        - ${PWD}/lnd:/data/.lnd
                        - ${PWD}/lnd:/root/.lnd
                        - ${PWD}/bitcoin:/root/.bitcoin
                restart: on-failure
                network_mode: host
                stop_grace_period: 5m30s
        dashboard:
                image: getumbrel/dashboard:v0.2.1
                logging: *default-logging
                restart: always
                network_mode: host
                stop_grace_period: 1m30s
        manager:
                image: getumbrel/manager:v0.1.1
                logging: *default-logging
                restart: unless-stopped
                network_mode: host
                stop_grace_period: 5m30s
                volumes:
                        - ${PWD}/db:/db
                        - /var/run/docker.sock:/var/run/docker.sock
                        - /usr/bin/docker:/usr/bin/docker
                        - ${PWD}:${PWD}
                environment:
                    PORT: "3006"
                    USER_PASSWORD_FILE: "/db/user.json"
                    JWT_PUBLIC_KEY_FILE: "/db/jwt-public-key/jwt.pem"
                    JWT_PRIVATE_KEY_FILE: "/db/jwt-private-key/jwt.key"
                    JWT_EXPIRATION: "3600"
                    DOCKER_COMPOSE_DIRECTORY: $PWD
                    DEVICE_HOST: "http://umbrel.local"
        middleware:
                image: getumbrel/middleware:v0.1.1
                command: ["./wait-for-node-manager.sh", "localhost", "npm", "start"]
                logging: *default-logging
                restart: unless-stopped
                network_mode: host
                depends_on: [ manager ]
                volumes:
                        - ${PWD}/lnd:/lnd
                        - ${PWD}/db/jwt-public-key:/jwt-public-key
                environment:
                    PORT: "3005"
                    BITCOIN_HOST: "0.0.0.0"
                    RPC_PORT: "8332"
                    RPC_USER: "lncm"
                    RPC_PASSWORD: "RPCPASS"
                    LND_NETWORK: "mainnet"
                    LND_HOST: "127.0.0.1"
                    JWT_PUBLIC_KEY_FILE: "/jwt-public-key/jwt.pem"
                    DEVICE_HOST: "http://umbrel.local"
