version: '3.7'
x-logging: &default-logging
    driver: journald
    options:
        tag: "{{.Name}}"

x-utility: &default-utility
    image: "alpine:3.11"
    logging: *default-logging
    network_mode: host

services:
        nginx:
                image: nginx:1.17.8
                logging: *default-logging
                volumes:
                        - ${HOME}/nginx:/etc/nginx
                restart: on-failure
                network_mode: host
                stop_grace_period: 30s
        bitcoin:
                image: lncm/bitcoind:v0.20.0
                logging: *default-logging
                volumes:
                        - ${HOME}/bitcoin:/root/.bitcoin
                        - ${HOME}/bitcoin:/data/.bitcoin
                        - ${HOME}/bitcoin:/data/bitcoin
                restart: on-failure
                network_mode: host
                stop_grace_period: 2m30s
        lnd:
                image: lncm/lnd:v0.9.2-root-experimental
                logging: *default-logging
                volumes:
                        - ${HOME}/lnd:/data/.lnd
                        - ${HOME}/lnd:/root/.lnd
                        - ${HOME}/bitcoin:/root/.bitcoin
                        - /var/lib/tor:/var/lib/tor
                        - /run/tor:/run/tor/
                restart: on-failure
                network_mode: host
                stop_grace_period: 1m30s
        dashboard:
                image: getumbrel/dashboard:v0.2.1
                logging: *default-logging
                restart: always
                network_mode: host
        manager:
                image: getumbrel/manager:v0.1.1
                logging: *default-logging
                restart: unless-stopped
                network_mode: host
                volumes:
                        - ${HOME}/db:/db
                        - /var/run/docker.sock:/var/run/docker.sock
                        - /usr/bin/docker:/usr/bin/docker
                        - ${HOME}:${HOME}
                environment:
                    PORT: "3006"
                    USER_PASSWORD_FILE: "/db/user.json"
                    JWT_PUBLIC_KEY_FILE: "/db/jwt-public-key/jwt.pem"
                    JWT_PRIVATE_KEY_FILE: "/db/jwt-private-key/jwt.key"
                    JWT_EXPIRATION: "3600"
                    DOCKER_COMPOSE_DIRECTORY: $HOME
        middleware:
                image: getumbrel/middleware:v0.1.1
                command: ["./wait-for-node-manager.sh", "localhost", "npm", "start"]
                logging: *default-logging
                restart: unless-stopped
                network_mode: host
                depends_on: [ manager ]
                volumes:
                        - ${HOME}/lnd:/lnd
                        - ${HOME}/db/jwt-public-key:/jwt-public-key
                environment:
                    PORT: "3005"
                    BITCOIN_HOST: "0.0.0.0"
                    RPC_PORT: "8332"
                    RPC_USER: "lncm"
                    RPC_PASSWORD: "RPCPASS"
                    LND_NETWORK: "mainnet"
                    LND_HOST: "127.0.0.1"
                    JWT_PUBLIC_KEY_FILE: "/jwt-public-key/jwt.pem"
