body {
  background-color: #F7F9FB;
  max-width: 1920px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
}

.status {
  text-align: center;
  color: #6c757d;
  font-size: 12px;
  margin-bottom: 1em;
}

.error {
  max-width: 800px;
  margin: 0 auto;
}

.spinner {
  font-size: 80%;
  font-weight: 400;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
  margin-right: 1em;
}

.header {
  background: #ffffff;
  padding: 1em;
  margin-bottom: 3em;
  box-shadow: 0px 10px 30px rgb(209 213 223 / 50%);
  transition: opacity 0.2s ease;
}

.button {
  display: inline-block;
  text-decoration: none;
  background: #F46E6E;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.logo {
  max-height: 200px;
  width: auto;
  display: block;
  margin: 20vh auto 20px;
}

.card {
  background: #fff;
  padding: 0.6rem 1rem;
  border-radius: 1rem;
  box-shadow: 0px 10px 30px rgb(209 213 223 / 50%);
  color: #373a3e;
  margin-bottom: 1rem;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.rotate {
  display: inline-block;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}

.fade-in {
  animation: fade-in 0.4s ease-out;
}
@keyframes fade-in {
  from {
    transform: translateY(-5px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
