version: "3.7"

services:
  web:
    image: apotdevin/thunderhub:v0.12.31@sha256:f86341cb1987a3907f7227ccd4c00dead68d372e464b111414b8427228062276
    user: "1000:1000"
    restart: on-failure
    stop_grace_period: 1m
    ports:
      - "$APP_THUNDERHUB_PORT:$APP_THUNDERHUB_PORT"
    volumes:
      - ${LND_DATA_DIR}:/lnd:ro
      - ${APP_DATA_DIR}/data:/data
    entrypoint: /data/entrypoint.sh
    environment:
      APP_PASSWORD: "$APP_PASSWORD"
      NO_VERSION_CHECK: "true"
      LOG_LEVEL: "debug"
      ACCOUNT_CONFIG_PATH: "/data/thubConfig.yaml"
      YML_ENV_1: "$LND_IP:$LND_GRPC_PORT"
      TOR_PROXY_SERVER: "socks://$TOR_PROXY_IP:$TOR_PROXY_PORT"
    networks:
      default:
        ipv4_address: $APP_THUNDERHUB_IP
