version: "3.7"

services:
    web:
        image: "apotdevin/thunderhub:v0.12.14@sha256:d92b45957a392e2b5745ad6adc4d5e6360d10ff935dbf8ec141ee096578dcea0"
        user: "1000:1000"
        restart: "on-failure"
        stop_grace_period: "1m"
        volumes:
            - "${LND_DATA_DIR}:/lnd:ro"
            - "${APP_DATA_DIR}/data:/data"
        ports:
            - "${APP_THUNDERHUB_PORT}:${APP_THUNDERHUB_PORT}"
        environment:
            NO_VERSION_CHECK: "true"
            LOG_LEVEL: "debug"
            ACCOUNT_CONFIG_PATH: "/data/thubConfig.yaml"
            YML_ENV_1: "${LND_IP}:${LND_GRPC_PORT}"
            TOR_PROXY_SERVER: "socks://${TOR_PROXY_IP}:${TOR_PROXY_PORT}"
        networks:
            default:
                ipv4_address: "${APP_THUNDERHUB_IP}"
