version: "3.7"

services:
  web:
    image: apotdevin/thunderhub:v0.12.24@sha256:ea466edac18a8889d6e59f3697f16612fd25d7c3fffb712098ef337fe1d76f2b
    user: "1000:1000"
    restart: on-failure
    stop_grace_period: 1m
    ports:
      - "$APP_THUNDERHUB_PORT:$APP_THUNDERHUB_PORT"
    volumes:
      - ${LND_DATA_DIR}:/lnd:ro
      - ${APP_DATA_DIR}/data:/data
    environment:
      NO_VERSION_CHECK: "true"
      LOG_LEVEL: "debug"
      ACCOUNT_CONFIG_PATH: "/data/thubConfig.yaml"
      YML_ENV_1: "$LND_IP:$LND_GRPC_PORT"
      TOR_PROXY_SERVER: "socks://$TOR_PROXY_IP:$TOR_PROXY_PORT"
    networks:
      default:
        ipv4_address: $APP_THUNDERHUB_IP
