$black: #141821;
$purple: #5351FB;
$primary: $purple;
$green: #07a868;
$yellow: #F6B900;
$red: #db4242;
$white: #ffffff;
$spacer: 1.5rem;
$body-color: $black;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Inter", "Helvetica Neue", "Segoe UI", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3.7;
$h2-font-size: $font-size-base * 2.7;
$h3-font-size: $font-size-base * 1.7;
$headings-font-weight: 700;
$list-group-item-padding-x: 1.5rem;
$list-group-border-color: rgba($black, 0);
$link-hover-decoration: none;
$card-border-radius: 1rem;
$card-cap-bg: null;
$card-border-color: rgba($black, 0);
$list-group-border-radius: 0;
$list-group-item-padding-y: 1.25rem;
$grid-breakpoints: (xs: 0, sm: 456px, md: 768px, lg: 999px, xl: 1439px); //remove this while editing in bootstrap.build
$modal-inner-padding: 1rem;
$modal-content-border-color: rgba($black, 0.05);
$modal-content-border-radius: 1rem;
$modal-header-padding-y: 1rem;
$modal-header-padding-x: 1rem;
$modal-header-border-width: 0;
$toast-padding-x: 1.5rem;
$toast-border-width: 0;
$toast-border-radius: 1rem;
$toast-padding-y: 1rem;
$tooltip-bg: $white;
$tooltip-color: $black;
$tooltip-opacity: 1;
$tooltip-margin: 0.2rem;