$font-size-base: 1rem;

@import './variables';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

@import './custom.scss';
@import './responsive.scss';
