# Umbrel Startup Service
# Installed at /etc/systemd/system/umbrel-startup.service

[Unit]
Description=Umbrel Startup Service
Wants=network-online.target
After=network-online.target
Wants=docker.service
After=docker.service

[Service]
Type=forking
TimeoutStartSec=infinity
TimeoutStopSec=16min
ExecStart=/home/umbrel/umbrel/scripts/start
ExecStop=/home/umbrel/umbrel/scripts/stop
User=root
Group=root
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=umbrel startup
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
