version: "3.7"

services:
    web:
        image: "shahanafarooqui/rtl:0.10.1@sha256:d076f91c4b994d3059d3c0db80dc560ca05f675924d5625bae724df473877882"
        user: "1000:1000"
        restart: "on-failure"
        stop_grace_period: "1m"
        volumes:
            - "${APP_DATA_DIR}/rtl:/data"
            - "${APP_DATA_DIR}/loop:/loop"
            - "${LND_DATA_DIR}:/lnd:ro"
            - "${BITCOIN_DATA_DIR}:/bitcoin:ro"
        ports:
            - "${APP_RIDE_THE_LIGHTNING_PORT}:${APP_RIDE_THE_LIGHTNING_PORT}"
        environment:
            # App config
            PORT: "${APP_RIDE_THE_LIGHTNING_PORT}"
            RTL_CONFIG_PATH: "/data"
            CHANNEL_BACKUP_PATH: "/data/backup"
            LN_IMPLEMENTATION: "LND"

            # LND connection details
            LN_SERVER_URL: "https://${LND_IP}:${LND_REST_PORT}"
            MACAROON_PATH: "/lnd/data/chain/bitcoin/${BITCOIN_NETWORK}"
            CONFIG_PATH: "/lnd/lnd.conf"

            # Loop
            SWAP_SERVER_URL: "https://${APP_RIDE_THE_LIGHTNING_LOOP_IP}:8081"
            SWAP_MACAROON_PATH: "/loop/.loop/${BITCOIN_NETWORK}"
        networks:
            default:
                ipv4_address: "${APP_RIDE_THE_LIGHTNING_IP}"

    loop:
        image: "louneskmt/loop:v0.12.1-beta@sha256:f57abd0cbccfaa741d6f0eb301421be1649e7dd42c1fc804a7759d7521866436"
        user: "1000:1000"
        restart: "on-failure"
        stop_grace_period: "1m"
        command:
            - "--network=\"${BITCOIN_NETWORK}\""
            - "--lnd.host=\"${LND_IP}:${LND_GRPC_PORT}\""
            - "--lnd.macaroonpath=\"/lnd/data/chain/bitcoin/${BITCOIN_NETWORK}/admin.macaroon\""
            - "--lnd.tlspath=\"/lnd/tls.cert\""
            - "--restlisten=\"0.0.0.0:8081\""
        volumes:
            - "${APP_DATA_DIR}/loop:/data"
            - "${LND_DATA_DIR}:/lnd:ro"
        environment:
            HOME: "/data"
        networks:
            default:
                ipv4_address: ${APP_RIDE_THE_LIGHTNING_LOOP_IP}
