version: "3.8"

services:
  node:
    image: ghcr.io/vulpemventures/elements:0.21.0.2@sha256:60f082b13b366743ef3cd113cb20397b586fd7032c0eb9c0a2a242ebc528f537
    restart: on-failure
    stop_grace_period: 1m
    ports:
      - $APP_ELEMENTS_NODE_RPC_PORT:$APP_ELEMENTS_NODE_RPC_PORT # JSONRPC
      - $APP_ELEMENTS_NODE_P2P_PORT:$APP_ELEMENTS_NODE_P2P_PORT # P2P PORT
    volumes:
      - ${APP_DATA_DIR}/data:/home/elements/.elements
    command:
      - -listen=1
      - -txindex=1
      # Current Elements Core requires >8GB of RAM to verify confidential proofs during IBD
      # We skip historical block verification for now, as we don't have a way to set the memory limit
      - -assumevalid=tip
      - -validatepegin=1
      - -fallbackfee=0.000001
      # Attach to Bitcoin network
      - -mainchainrpchost=$BITCOIN_IP
      - -mainchainrpcport=$BITCOIN_RPC_PORT
      - -mainchainrpcuser=$BITCOIN_RPC_USER
      - -mainchainrpcpassword=$BITCOIN_RPC_PASS
      # Elements RPC
      - -rpcuser=elements
      - -rpcpassword=$APP_PASSWORD
      - -rpcbind=0.0.0.0 # can we do better here?
      - -rpcallowip=0.0.0.0/0 # can we do better here?
      - -rpcport=$APP_ELEMENTS_NODE_RPC_PORT
      # P2P 
      - -port=$APP_ELEMENTS_NODE_P2P_PORT
      - -blockfilterindex=1
      - -peerblockfilters=1
    networks:
      default:
        ipv4_address: $APP_ELEMENTS_NODE_IP
  web: 
    image: ghcr.io/tiero/elements-web:v0.0.3@sha256:b80dc0df2a4693668a97b874aad6d0a8d3239d03f4d05b4342600166934d0b87
    depends_on:
      - node
    restart: on-failure
    ports:
      - $APP_ELEMENTS_PORT:8080
    environment:
      RPC_USER: elements
      RPC_PASS: $APP_PASSWORD
      RPC_PORT: $APP_ELEMENTS_NODE_RPC_PORT
      RPC_HOST: $APP_ELEMENTS_NODE_IP
      P2P_PORT: $APP_ELEMENTS_NODE_P2P_PORT
      # Remote 
      REMOTE_RPC_HOST: $ELEMENTS_RPC_HIDDEN_SERVICE
      REMOTE_P2P_HOST: $ELEMENTS_P2P_HIDDEN_SERVICE
    networks:
      default:
        ipv4_address: $APP_ELEMENTS_IP

  
