version: "3.7"

services:
  web:
    image: lncm/specter-desktop:v1.8.0@sha256:8fd2d8649b42526f83090024c6f2f50d3c8ad518c81e3131640226f03dff507b
    stop_signal: SIGINT
    restart: on-failure
    stop_grace_period: 1m
    ports:
      - "$APP_SPECTER_DESKTOP_PORT:$APP_SPECTER_DESKTOP_PORT"
    volumes:
      - ${APP_DATA_DIR}/data:/data
    command:
      - --host=0.0.0.0
      - --specter-data-folder=/data
    environment:
      # TODO: APP_PASSWORD
      BTC_RPC_USER: $BITCOIN_RPC_USER
      BTC_RPC_PASSWORD: $BITCOIN_RPC_PASS
      BTC_RPC_HOST: $BITCOIN_IP
      BTC_RPC_PORT: $BITCOIN_RPC_PORT
      BTC_RPC_PROTOCOL: http
    networks:
      default:
        ipv4_address: $APP_SPECTER_DESKTOP_IP
