# Umbrel OS Start Service Script
# Installed at /etc/systemd/system/umbrel.service

[Unit]
Description=Umbrel
Wants=network-online.target
After=network-online.target
Requires=external-storage.service
After=external-storage.service

[Service]
Type=forking
TimeoutSec=infinity
ExecStart=/home/umbrel/umbrel/scripts/start
User=root
Group=root
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=umbrel
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
