# Umbrel Status Server
# Installed at /etc/systemd/system/umbrel-status-server.service

[Unit]
Description=Status Server
Before=umbrel-external-storage-sdcard-update.service
Before=umbrel-external-storage.service
Before=umbrel-startup.service

[Service]
Type=exec
ExecStartPre=/home/umbrel/umbrel/scripts/umbrel-os/status-server/setup
ExecStart=/home/umbrel/umbrel/scripts/umbrel-os/status-server/status-server
User=root
Group=root
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=status server

[Install]
WantedBy=multi-user.target
