# Umbrel External Storage Mounter
# Installed at /etc/systemd/system/umbrel-external-storage.service

[Unit]
Description=External Storage Mounter
Before=docker.service

[Service]
Type=oneshot
Restart=no
ExecStart=/home/umbrel/umbrel/scripts/umbrel-os/external-storage/mount
ExecStartPost=/home/umbrel/umbrel/scripts/umbrel-os/external-storage/update-from-sdcard
TimeoutStartSec=45min
User=root
Group=root
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=external storage mounter
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
