# Umbrel Startup Service
# Installed at /etc/systemd/system/umbrel-startup.service

[Unit]
Description=Umbrel Startup Service
Wants=network-online.target
After=network-online.target
Requires=umbrel-external-storage.service
After=umbrel-external-storage.service

[Service]
Type=forking
TimeoutSec=infinity
ExecStart=/home/umbrel/umbrel/scripts/start
User=root
Group=root
# StandardOutput=syslog
# StandardError=syslog
# SyslogIdentifier=umbrel
StandardOutput=tty
TTYPath=/dev/tty1
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
