# Umbrel /sd-root Mounter
# Installed at /etc/systemd/system/umbrel-sd-root.service

[Unit]
Description=Umbrel /sd-root mounter
Before=umbrel-status-server.service

[Service]
Type=oneshot
Restart=no
ExecStart=/home/umbrel/umbrel/scripts/umbrel-os/external-storage/setup-sd-root
TimeoutStartSec=45min
User=root
Group=root
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=setup sd root
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
