load_env -f /boot.grubenv
linux /vmlinuz console=ttyS0 console=tty1 loglevel=3 panic=5 module_blacklist=esp4,esp6,rxrpc initcall_blacklist=esp4_init,esp6_init,af_rxrpc_init ${rugpi_bootargs}
initrd /initrd.img
boot
