.umbrel-fade-scroller-x,
.umbrel-fade-scroller-y {
	animation-name: scroll-reveal;
	animation-duration: 1ms; /* Firefox requires this to apply the animation */
	animation-timeline: --scroll-timeline;
}

.umbrel-fade-scroller-y {
	scroll-timeline: --scroll-timeline y;
	/* Firefox supports the older "vertical" syntax */
	scroll-timeline: --scroll-timeline vertical;
	mask-image: linear-gradient(to bottom, transparent, red var(--distance1) calc(100% - var(--distance2)), transparent);
}

.umbrel-fade-scroller-x {
	scroll-timeline: --scroll-timeline x;
	/* Firefox supports the older "vertical" syntax */
	scroll-timeline: --scroll-timeline horizontal;
	mask-image: linear-gradient(to right, transparent, red var(--distance1) calc(100% - var(--distance2)), transparent);
}

@keyframes scroll-reveal {
	0% {
		--distance1: 0px;
		--distance2: 50px;
	}
	0.1% {
		--distance1: 50px;
	}
	99% {
		--distance2: 50px;
	}
	100% {
		--distance1: 50px;
		--distance2: 0px;
	}
}
