version: "3.7"

services:
  web:
    image: yzernik/squeaknode:v0.1.168@sha256:efdbbc7a8708e0dd9afd487cf2e6603edd43988dd38ba1fd400b5df5476f81b2
    restart: on-failure
    stop_grace_period: 1m
    ports:
      - "$APP_SQUEAKNODE_PORT:$APP_SQUEAKNODE_PORT"
      - "$APP_SQUEAKNODE_GRPC_PORT:$APP_SQUEAKNODE_GRPC_PORT"
    volumes:
      - ${APP_DATA_DIR}/sqk:/sqk
      - ${LND_DATA_DIR}:/lnd:ro
    user: "1000:1000"
    environment:
      # Bitcoin Core connection details
      SQUEAKNODE_BITCOIN_RPC_HOST: $BITCOIN_IP
      SQUEAKNODE_BITCOIN_RPC_PORT: $BITCOIN_RPC_PORT
      SQUEAKNODE_BITCOIN_RPC_USER: $BITCOIN_RPC_USER
      SQUEAKNODE_BITCOIN_RPC_PASS: $BITCOIN_RPC_PASS
      SQUEAKNODE_BITCOIN_ZEROMQ_HASHBLOCK_PORT: $BITCOIN_ZMQ_HASHBLOCK_PORT

      # LND environment variables
      SQUEAKNODE_LND_HOST: $LND_IP
      SQUEAKNODE_LND_RPC_PORT: $LND_GRPC_PORT
      SQUEAKNODE_LND_TLS_CERT_PATH: "/lnd/tls.cert"
      SQUEAKNODE_LND_MACAROON_PATH: "/lnd/data/chain/bitcoin/$BITCOIN_NETWORK/admin.macaroon"

      # Tor environment variables
      SQUEAKNODE_TOR_PROXY_IP: $TOR_PROXY_IP
      SQUEAKNODE_TOR_PROXY_PORT: $TOR_PROXY_PORT

      # App specific environment variables
      SQUEAKNODE_WEBADMIN_ENABLED: "true"
      SQUEAKNODE_WEBADMIN_USERNAME: "umbrel"
      SQUEAKNODE_WEBADMIN_PASSWORD: "moneyprintergobrrr"

      SQUEAKNODE_NODE_NETWORK: "$BITCOIN_NETWORK"
      SQUEAKNODE_NODE_SQK_DIR_PATH: "/sqk"
      SQUEAKNODE_NODE_MAX_SQUEAKS: 10000

      SQUEAKNODE_SERVER_EXTERNAL_ADDRESS: $SQUEAKNODE_P2P_HIDDEN_SERVICE

      DEBUG: "squeaknode:*"
    networks:
      default:
        ipv4_address: $APP_SQUEAKNODE_IP
