name: CI

on: push

jobs:
  # These jobs simply serve as architecture native cache steps to load up the Docker cache for umbrelOS.
  # We must cache to unique scopes per architecture otherwise only one of the architectures gets cached.
  umbrelos-amd64-cache:
    name: Build umbrelOS amd64
    runs-on: 64-core-amd64
    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-buildx-action@v3
      - uses: crazy-max/ghaction-github-runtime@3cb05d89e1f492524af3d41a1c98c83bc3025124 # v3
      - name: Build amd64 Docker image
        working-directory: packages/os
        run: docker buildx build --platform linux/amd64 --file umbrelos.Dockerfile --cache-from type=gha,scope=umbrelos-amd64 --cache-to type=gha,mode=max,scope=umbrelos-amd64 ../../
  umbrelos-arm64-cache:
    name: Build umbrelOS arm64
    runs-on: 64-core-arm64
    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-buildx-action@v3
      - uses: crazy-max/ghaction-github-runtime@3cb05d89e1f492524af3d41a1c98c83bc3025124 # v3
      - name: Build arm64 Docker image
        working-directory: packages/os
        run: docker buildx build --platform linux/arm64 --file umbrelos.Dockerfile --cache-from type=gha,scope=umbrelos-arm64 --cache-to type=gha,mode=max,scope=umbrelos-arm64 ../../

  umbrelos-amd64-vm:
    name: Run umbrelOS amd64 tests
    needs: umbrelos-amd64-cache
    runs-on: 64-core-amd64
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 22
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Expose GitHub Actions runtime for Docker cache
        uses: crazy-max/ghaction-github-runtime@3cb05d89e1f492524af3d41a1c98c83bc3025124 # v3
      - name: Install QEMU
        run: sudo apt-get update && sudo apt-get install -y qemu-system-x86
      - name: Build OS image
        working-directory: packages/os
        run: npm run build:amd64:rugix
      - name: Install umbreld dependencies
        working-directory: packages/umbreld
        run: npm clean-install
      - name: Run VM tests
        working-directory: packages/umbreld
        run: npm run test:vm

  umbreld:
    name: Run umbreld tests
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: packages/umbreld
    strategy:
      fail-fast: false
      matrix:
        task:
          - format:check
          # - lint
          - typecheck
          - test:unit -- --coverage --watch=false
          - test:integration -- --coverage --watch=false
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      # This is needed for the samba integration tests
      - name: Setup umbrel user
        run: |
          sudo adduser --gecos "" --disabled-password umbrel
          echo "umbrel:umbrel" | sudo chpasswd
          sudo usermod -aG sudo umbrel
      - name: Install dependencies
        run: |
          curl -s https://kopia.io/signing-key | sudo gpg --dearmor -o /etc/apt/keyrings/kopia-keyring.gpg
          echo "deb [signed-by=/etc/apt/keyrings/kopia-keyring.gpg] http://packages.kopia.io/apt/ stable main" | sudo tee /etc/apt/sources.list.d/kopia.list
          sudo apt-get update
          sudo apt-get install -y unar imagemagick ffmpeg samba wsdd2 kopia bindfs cifs-utils smbclient
          sudo systemctl disable smbd wsdd2
          sudo npm clean-install
      - run: sudo npm run ${{ matrix.task }}
  ui:
    name: Run UI tests
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: packages/ui
    strategy:
      fail-fast: false
      matrix:
        task:
          - lint
          - format:check
          - typecheck
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 8
      - name: Install Umbreld dependencies
        if: ${{ matrix.task == 'typecheck' }}
        run: npm --prefix ../umbreld clean-install
      - name: Install dependencies
        run: pnpm install
      - run: pnpm run ${{ matrix.task }}

  create-release:
    name: Create release on tag
    if: startsWith(github.ref, 'refs/tags/')
    needs: [umbrelos-amd64-cache, umbrelos-arm64-cache]
    runs-on: 64-core-amd64
    defaults:
      run:
        working-directory: packages/os
    steps:
      # Checkout
      - uses: actions/checkout@v3

      # Set up Docker Buildx with GHA cache support
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Expose GitHub Actions runtime for Docker cache
        uses: crazy-max/ghaction-github-runtime@3cb05d89e1f492524af3d41a1c98c83bc3025124 # v3

      # Build Docker images
      - run: echo "VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      # We need this to namespace Docker images on forks
      - run: echo "VERSION_IS_SEMVER=$(if [[ '${{ env.VERSION }}' =~ ^[0-9]+\.[0-9]+\.[0-9]+ ]]; then echo 'true'; else echo 'false'; fi)" >> $GITHUB_ENV
      - run: echo "PREFIX=$(if [ '${{ env.VERSION_IS_SEMVER }}' = 'true' ]; then echo ''; else echo $(basename ${{ github.repository }})-; fi)" >> $GITHUB_ENV
      - run: echo "TAG=${{ github.repository_owner }}/${{ env.PREFIX }}umbrelos:${{ env.VERSION }}" >> $GITHUB_ENV
      - run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u "${{ github.repository_owner }}" --password-stdin
      - run: docker buildx build --platform linux/amd64,linux/arm64 --file umbrelos.Dockerfile --tag ghcr.io/${{env.TAG }} --push --cache-from type=gha,scope=umbrelos-amd64 --cache-from type=gha,scope=umbrelos-arm64 ../../
      - run: mkdir -p build && docker buildx imagetools inspect ghcr.io/${{ env.TAG }} > build/docker-umbrelos-${{ env.VERSION }}
      # Build OS images
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: npm run build "${{ env.VERSION }}"

      # TODO: Use .img.xz for all release assets once https://github.com/balena-io/etcher/issues/4064 is fixed
      - name: Compress release assets
        # Awkward hack to run in parallel but correctly handle errors
        run: |
          cd build
          zip umbrelos-pi4.img.zip umbrelos-pi4.img &
          pid1=$!
          zip umbrelos-pi5.img.zip umbrelos-pi5.img &
          pid2=$!
          sudo xz --keep --threads=0 umbrelos-amd64.img &
          pid3=$!
          wait $pid1 || exit 1
          wait $pid2 || exit 1
          wait $pid3 || exit 1

      - name: Create USB installer
        run: npm run build:amd64:usb-installer

      - name: Create release directory
        run: |
          mkdir -p release
          mv build/docker-umbrelos-* release/
          mv build/*.update release/
          mv build/*.img.zip release/
          mv build/*.img.xz release/
          mv build/*.img release/
          mv usb-installer/build/*.iso release/

      - name: Create SHASUM
        run: cd release && shasum -a 256 * | tee SHA256SUMS

      - name: OpenTimestamps
        run: npm ci && npx ots-cli.js stamp release/SHA256SUMS

      - name: Nuke uncompressed images (we just wanted them covered by the SHASUMs)
        run: rm -rf release/*.img

      - name: Upload to R2
        uses: ryand56/r2-upload-action@b801a390acbdeb034c5e684ff5e1361c06639e7c # v1.4
        with:
          r2-account-id: ${{ secrets.R2_ACCOUNT_ID }}
          r2-access-key-id: ${{ secrets.R2_ACCESS_KEY_ID }}
          r2-secret-access-key: ${{ secrets.R2_SECRET_ACCESS_KEY }}
          r2-bucket: ${{ secrets.R2_BUCKET }}
          source-dir: packages/os/release
          destination-dir: ./${{ env.VERSION }}

      - name: Create GitHub Release
        uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844 # v0.1.15
        with:
          draft: true
          name: umbrelOS ${{ github.ref_name }}
          files: |
            packages/os/release/SHA256SUMS*
