name: Node.js CI

on: push

jobs:
  # These jobs simply serve as architecture native cache steps to load up the Docker cache for umbrelOS.
  # We must cache to unique scopes per architecture otherwise only one of the architectures gets cached.
  umbrelos-amd64-cache:
    runs-on: 64-core-amd64
    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-buildx-action@v3
      - uses: crazy-max/ghaction-github-runtime@3cb05d89e1f492524af3d41a1c98c83bc3025124 # v3
      - name: Build amd64 Docker image
        working-directory: packages/os
        run: docker buildx build --platform linux/amd64 --file umbrelos.Dockerfile --cache-from type=gha,scope=umbrelos-amd64 --cache-to type=gha,mode=max,scope=umbrelos-amd64 ../../
  umbrelos-arm64-cache:
    runs-on: 64-core-arm64
    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-buildx-action@v3
      - uses: crazy-max/ghaction-github-runtime@3cb05d89e1f492524af3d41a1c98c83bc3025124 # v3
      - name: Build arm64 Docker image
        working-directory: packages/os
        run: docker buildx build --platform linux/arm64 --file umbrelos.Dockerfile --cache-from type=gha,scope=umbrelos-arm64 --cache-to type=gha,mode=max,scope=umbrelos-arm64 ../../

  umbreld:
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: packages/umbreld
    strategy:
      fail-fast: false
      matrix:
        task:
          - format:check
          # - lint
          - typecheck
          - test:unit -- --coverage --watch=false
          - test:integration -- --coverage --watch=false
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      # This is needed for the samba integration tests
      - name: Setup umbrel user
        run: |
          sudo adduser --gecos "" --disabled-password umbrel
          echo "umbrel:umbrel" | sudo chpasswd
          sudo usermod -aG sudo umbrel
      - name: Install dependencies
        run: |
          curl -s https://kopia.io/signing-key | sudo gpg --dearmor -o /etc/apt/keyrings/kopia-keyring.gpg
          echo "deb [signed-by=/etc/apt/keyrings/kopia-keyring.gpg] http://packages.kopia.io/apt/ stable main" | sudo tee /etc/apt/sources.list.d/kopia.list
          sudo apt-get update
          sudo apt-get install -y unar imagemagick ffmpeg samba wsdd2 kopia bindfs cifs-utils smbclient
          sudo systemctl disable smbd wsdd2
          sudo npm clean-install
      - run: sudo npm run ${{ matrix.task }}
  umbreld-vm:
    needs: umbrelos-amd64-cache
    runs-on: 64-core-amd64
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 22
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Expose GitHub Actions runtime for Docker cache
        uses: crazy-max/ghaction-github-runtime@3cb05d89e1f492524af3d41a1c98c83bc3025124 # v3
      - name: Install QEMU
        run: sudo apt-get update && sudo apt-get install -y qemu-system-x86
      - name: Build OS image
        working-directory: packages/os
        run: npm run build:amd64:rugix
      - name: Install umbreld dependencies
        working-directory: packages/umbreld
        run: npm clean-install
      - name: Run VM tests
        working-directory: packages/umbreld
        run: npm run test:vm
  ui:
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: packages/ui
    strategy:
      fail-fast: false
      matrix:
        task:
          - lint
          - format:check
          - typecheck
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 8
      - name: Install Umbreld dependencies
        if: ${{ matrix.task == 'typecheck' }}
        run: npm --prefix ../umbreld clean-install
      - name: Install dependencies
        run: pnpm install
      - run: pnpm run ${{ matrix.task }}
